/**
 * @file
 * SASS variables for theme
 */

// COLOURS
// -------------------------
$text-color: hsla(0, 0%, 13%, 1) !default;
$white: #fff;
$ubc-blue: #002145;
$ubc-blue-secondary: #0055B7;
$ubc-blue-secondary-2: #00A7E1;
$ubc-blue-secondary-3: #40B4E5;
$ubc-blue-secondary-4: #6EC4E8;
$ubc-blue-secondary-5: #97D4E9;
$unit-grey-dark: #5b6267;
$unit-grey: #7d868c;
$unit-grey-light: #d6d6d8;
